.gadget-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gadget-left button {
  padding: 0.6rem 0;
  margin: 0.6rem 0;
}

.gadget-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
